.parallaxSection {
    background-image: url("https://images.pexels.com/photos/8353772/pexels-photo-8353772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow-y: auto; /* Corrected typo */
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.parallaxSection > h2 {
    font-size: 12vw;
    color: var(--titleFontColor);
    font-family: "Loyal sans", sans-serif;
    font-weight: var(--titleFontWeight);
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 1;
}

@media (max-width: 600px) {
    .parallaxSection > h2 {
        font-size: 5em !important;
        text-align: center;
    }
}
