section {
    background-color: var(--componentColor);
    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-height: 100%; */
    align-items: center;
    justify-content: center;
    /* padding-top: 100px; */
    /* padding-bottom: 10px; */
    /* flex-wrap: nowrap; */
    /* overflow: hidden; */
    /* gap: 20px; */
}
