.chartSection {
    display: none;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    width: 100%;
    min-height: 100svh;
}
.skillsChartContainer {
    display: flex;
    position: absolute;
    /* border: 2px solid blue; */
    background-color: var(--searchColor);
    padding: 40px 20px 40px 20px;
    width: 80%;
    max-width: 400px;
    max-height: 400px;
    z-index: 1;
}

.closeButton {
    width: 20px;
    position: absolute;
    left: 90%;
    top: 5%;
    /* border: 2px solid blue; */
    transition: transform 0.5s ease;
}
.closeButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}
#skillsChart {
    width: 100%;
    height: 100;
    /* border: 2px solid blue; */
    /* box-sizing: content-box; !!important */
}
