@font-face {
    font-family: "Loyal sans";
    src: url("/loyal_sans/LoyalSansRegularv1.otf") format("opentype");
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100svh;
    gap: 80px;
    padding-top: 0;
    background-color: var(--componentColor);
    /* padding: 20px; */

    /* border: 2px solid red; */
}

.about h2 {
    display: flex;
    font-family: "Loyal sans", sans-serif;
    font-size: var(--titleFontSize);
    color: var(--titleFontColor);
    font-weight: var(--titleFontWeight);
    /* border: 2px solid red; */
    margin: 0;
    justify-content: center;
    text-align: center;
    padding: 0 10px 0 10px;
    /* width: 900px; */
}

.aboutButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 2px solid green; */
    /* width: 50%; */
    /* margin-top: 20px; */
}
/* .aboutButtonContainer > button {
    width: 400px;
    height: 100px;
} */

@media (max-width: 900px) {
    .aboutButtonContainer {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
@media (max-width: 600px) {
    .about h2 {
        font-size: 5em !important;
    }
}
