.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100svh;
    gap: 40px;
    padding-top: 0;
}

.contactTitle {
    display: flex;
    font-family: "Loyal sans", sans-serif;
    /* font-size: calc(var(--titleFontSize) - 40px); */
    color: var(--titleFontColor);
    font-weight: var(--titleFontWeight);
    font-size: var(--titleFontSize);
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}

.contactButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* width: 900px; */
    /* border: 2px solid green; */
    padding: 10px;
}
@media (max-width: 900px) {
    .contactButtonContainer {
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 600px) {
    .contactTitle {
        font-size: 5em !important;
        text-align: center;
    }
}
