.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    /* border: 2px solid blue; */
}
.footerText {
    font-family: var(--textFont);
    font-style: var(--textStyle);
    font-size: var(--textSize);
    color: var(--fontColor);
}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
        margin-top: -40px;
    }
}
